<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotelmanagementsystem.Properties.Settings.HotelManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-7MALSR5\OMAR;Initial Catalog=HotelManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hotelmanagementsystem.Properties.Settings.HMSConnectionString"
            connectionString="Data Source=OMARSPC;Initial Catalog=HMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
